[Unit]
Description=Blink1 System Monitor Utility
After=syslog.target network.target auditd.service

[Service]
Type=forking
PIDFile=/run/blink1-sysmonitor.pid
ExecStart=/usr/local/bin/blink1-sysmonitor
ExecStop=/bin/kill -INT $MAINPID

[Install]
WantedBy=multi-user.target
